.map{
    height: 300px; 
    width: 80%;
    background-color: teal;
    margin: auto;
    margin-top: 20px;
}
.weather{
    height: 200px; 
    width: 80%;
    background-color: teal;
    margin: auto;
    margin-top: 20px;
}
.hotel{
    height: 200px; 
    width: 80%;
    background-color: teal;
    margin: auto;
    margin-top: 20px;
}
.bar{
    height: 200px; 
    width: 80%;
    background-color: teal;
    margin: auto;
    margin-top: 20px;
}
.transit{
    height: 200px; 
    width: 80%;
    background-color: teal;
    margin: auto;
    margin-top: 20px;
}

@media only screen and (min-width: 440px) {

    .flex-container{
        display:flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        margin:auto;

    }

    .map{
        height: 400px;
        width: 100%;
        margin-top: 20px;
    }


    .weather, .hotel, .bar, .transit{
        width: 49%;
        margin: 20px 0 0 0;
}

} 

@media only screen and (min-width: 1000px) {

    .flex-container{
        width: 90%;
    }

    .map{
        height: 500px;
        width: 65.8%;
        margin: 30px 0 0 0;
    }

    .weather{
        height: 500px;
        width: 32%;
        margin: 30px 0 0 0;
    }

    .hotel, .bar, .transit{
        width: 32%;
        height: 300px;
        margin: 30px 0 0 0;
    }
}


@media only screen and (min-width: 1800px) {
    .flex-container{
        width: 1800px;
    }
}