

/*  Dashboard content */ 

main{
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.dash-progress{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
}  
.dash-fuel{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-speed{
  width: 49%;
  text-align: center;
  margin-top: 10px;
  padding: 5%;
  background-color: #F8F9F9;
  border-radius: 5px;
  margin-right: 10px;

}  
.dash-distance{
  width: 49%;
  text-align: center;
  margin-top: 10px;
  padding: 5%;
  background-color: #F8F9F9;
  border-radius: 5px;

} 
.dash-water{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;

}  
.dash-thermo{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-oxygen{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-sleep{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-toilet{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-food{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 
.dash-speedpast{
  width: 80%;
  text-align: center;
  margin: auto;  
  margin-top: 10px;
  padding: 10%;
  background-color: #F8F9F9;
  border-radius: 5px;
} 



.logo{
  background-image: url("media/SpaceX-White.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 500px;
  margin: 20px;
  margin-left:50px;

}

@media only screen and (min-width: 701px) { 

  .display-m {
    display: none;
  }

  .hide-m {
    display: inherit;
    margin: 0px 20px;
    background-color: #F8F9F9;
    padding-bottom: 100%;
  }

  .hide-m a{
    color: #1f2833;
    font-weight:bold;
  } 

  .logo{
    background-image: url("media/SpaceX-Logo.svg");
    background-repeat: no-repeat;
    height: 100px;
    margin: 5px;
    margin-left: 23.5%;
    margin-bottom: 20px;
  }

  header {
    justify-content: left;
    margin: 20px;
    margin-bottom: 0px;
    background-color: #F8F9F9;
    border-radius: 5px 5px 5px 0px;
  }

  nav {
    flex-basis: 20%;
    border-radius: 0 0 5px 5px;
    height: 50%;
  }

  main {
    flex-basis: 73%;
    flex-direction: row;
    margin-top: 20px;
  }

  footer{
    margin-top: 20px;
  }


/*  Dashboard content */ 

  .flex-row{
    flex-wrap: wrap;
    flex-direction: row;
    display:flex;
    margin:auto;
    width: 70%;
}

  .dash-progress{
    margin: 1%;
    width: 68%;

  }  

  .dash-fuel{
    margin: 1%;
    width: 28%;
  } 

  .dash-speed{
    margin: 1%;
    width: 48%;

  }  
  .dash-distance{
    margin: 1%;
    width: 48%;
  }   
  
  .dash-water{
    margin: 1%;
    width: 28%;

  }  
  .dash-thermo{
    margin: 1%;
    width: 48%;
  } 
  .dash-oxygen{
    margin: 1%;
    width: 48%;
  } 
  .dash-sleep{
    margin: 1%;
    width: 48%;
  } 
  .dash-toilet{
    margin: 1%;
    width: 48%;
  } 
  .dash-food{
    margin: 1%;
    width: 28%;
  } 
  .dash-speedpast{
    margin: 1%;
    width: 68%;
  } 
}

@media only screen and (min-width: 1401px){

 body{
  padding: 0px 100px;
  min-width: none;
  width: 1400px;
 } 
 main{
   flex-basis:76%;
 }

 footer{
   margin-left:  20px;
   margin-right: 20px;
   border-radius: 5px 5px 0px 0px;
 }
}
