@media only screen and (min-width: 1001px) {
  .display-m {
    display: none;
  }

  .hide-m {
    display: inherit;
  }

  header {
    justify-content: center;
  }

  nav {
    flex-basis: 25%;
  }

  main {
    flex-basis: 75%;
  }
}
